[Desktop Entry]
Comment[de]=Schriften registrieren/ reparieren
Comment[de]=Register/ repair fonts
Exec=rxvt -bg black -fg green -cr red -ls -e /usr/sbin/fix-fonts
Icon=fix-fonts
Name[de]=Schriften registrieren (fix-fonts)
Name=Register Fonts (fix-fonts)
Type=Application
