[Desktop Entry]
Encoding=UTF-8

Type=Application
Exec=/usr/sbin/fix-fonts
Icon=fix-fonts

Name=Register Fonts (fix-fonts)
Comment=Register/ repair fonts

Name[de]=Schriften registrieren (fix-fonts)
Comment[de]=Schriften registrieren/ reparieren
Categories=sidux;Utilities
