Source: fix-fonts
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/fix-fonts/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/fix-fonts/trunk/

Package: fix-fonts
Architecture: all
Depends: xutils, fttools, su-me, sidux-xdg
Suggests: xterm | x-terminal-emulator
Description: register X fonts properly
 This package re organizes the registered X11 fonts and should be used after
 every update to X11 fonts.
