Source: fix-fonts
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: fix-fonts
Architecture: all
Depends: ${shlibs:Depends}, xutils, fttools, su-me, sidux-xdg
Suggests: xterm | x-terminal-emulator
Description: register X fonts properly
 This package re organizes the registered X11 fonts and should be used after
 every update to X11 fonts.
